@inject HttpClient _client

<EditForm Model="@order" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Customer: </label>
        <div>
            <InputSelect @bind-Value="order.CustomerID" class="form-control">
                <option value="">-- Select Customer -- </option>
                @if (Customers != null)
                {
                    foreach (var customer in Customers)
                    {
                        <option value="@customer.CustomerID">@customer.CustomerName</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => order.CustomerID)" />
        </div>
    </div>

    <div class="form-group">
        <label>Order Date/Time: </label>
        <div>
            <InputDate @bind-Value="@order.OrderDateTime" class="form-control" />
            <ValidationMessage For="@(() => order.OrderDateTime)" />
        </div>
    </div>

    <div class="form-group">
        <label>Packed by: </label>
        <div>
            <InputSelect @bind-Value="order.StaffID" class="form-control">
                <option value="">-- Select Staff -- </option>
                @if (Staffs != null)
                {
                    foreach (var staff in Staffs)
                    {
                        <option value="@staff.StaffID">@staff.StaffName</option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => order.StaffID)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code 
{
    [Parameter] public Order order { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    

    private IList<Staff> Staffs;
    private IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }
}