<EditForm Model="@medication" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Medication: </label>
        <div>
            <InputText @bind-Value="@medication.MedicationName" class="form-control" />
            <ValidationMessage For="@(() => medication.MedicationName)" />
        </div>
    </div>
    <div class="form-group">
        <label>Description: </label>
        <div>
            <InputText @bind-Value="@medication.Description" class="form-control" />
            <ValidationMessage For="@(() => medication.Description)" />
        </div>
    </div>
    <div class="form-group">
        <label>Ingredients: </label>
        <div>
            <InputText @bind-Value="@medication.Ingredients" class="form-control" />
            <ValidationMessage For="@(() => medication.Ingredients)" />
        </div>
    </div>
    <div class="form-group">
        <label>Recommended Dosage: </label>
        <div>
            <InputText @bind-Value="@medication.RecommendedDosage" class="form-control" />
            <ValidationMessage For="@(() => medication.RecommendedDosage)" />
        </div>
    </div>
    <div class="form-group">
        <label>Availability: </label>
        <div>
            <InputText @bind-Value="@medication.Availability" class="form-control" />
            <ValidationMessage For="@(() => medication.Availability)" />
        </div>
    </div>

    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
</EditForm>

@code {
    [Parameter] public Medication medication { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}